#searchButton {
    height: 170px;
    border-radius: 65px;
    font-size: 40px;
    font: bold sans-serif;
    font-color: white;
}

.tag_button {
    background-color: #0077b6;
    border: none;
    color: white;
}

.tag_search {
    color: white;
}